body,
html {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #fffff6;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  padding: 0px 50px;
  display: flex;
  
  position: absolute;
  top: 0;
  left: 0;
  background-color: #131313;
}

.navbar-2 {
  width: 95%;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #22012c;
}

.logo img {
  width: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
    margin-left: 30%;
    margin-top: 5vh;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  text-transform: uppercase;

}

.user-icon img {
  width: 40px;
  height: 40px;
}

.geral {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  align-items: center;

}

.geral2 {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  align-items: center;
  background: BLACK;
  color: #fffff6;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(34, 1, 44, 1) 69%);
  ;
}




.fotos-inicial {
  height: 540px;
  width: 100%;
  padding-top: 3vh;
  display: flex;
  background-color: #131313;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fotos-inicial-2 {
  height: 540px;
  width: 100%;
  padding-top: 3vh;
  display: flex;

  background-color: #22012c;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.linha1,
.linha2 {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: space-evenly;
}

.texts {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  background: linear-gradient(180deg, rgb(19, 19, 19) 0%, rgba(255, 255, 246, 0.852) 100%);
}

.texts-2 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #22012c;

}

.titulo {
  font-size: 60px;
  letter-spacing: 2px;
  color: #fffff6;
  text-shadow: rgba(0, 0, 0, 0.41) 0px 3px 8px;
}

.desc {
  width: 60%;
  font-size: 25px;
  margin-top: -4%;
  color: #fffff6;
  text-shadow: rgba(0, 0, 0, 0.41) 0px 3px 8px;
}

.desc-2 {
  width: 70%;
  font-size: 25px;
  margin-top: -4%;
  color: #fffff6;
  text-shadow: rgba(0, 0, 0, 0.41) 0px 3px 8px;

}

.idolos {
  box-shadow: rgba(0, 0, 0, 0.41) 0px 3px 8px;
  transition: transform 0.3s ease;
}

.idolos:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.544) 0px 3px 8px;
}

.elenco {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 90%;
}

.posicao h2 {
  font-size: 1.5rem;
  border-top: 2px solid #000000;
  padding-top: 10px;
  margin-bottom: 10px;
}

.jogadores {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.jogador {
  text-align: center;
  background: #222;
  border-radius: 6px;
  padding: 5px;
  width: 15%;
}

.jogador img {
  width: 100%;
  border-radius: 6px;
}

.jogador span {
  display: block;
  margin-top: 5px;
  font-size: 0.85rem;
  font-weight: bold;
  color: #fff;
}


footer {
  height: 200px;
  display: flex;
  width: 100%;
  margin-top: 10%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: "Poppins";
  color: #fffff6;
  font-weight: 200;
  background-color: #131313;
}

span p {
  font-size: 20px;
}