* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
  }
  
  .hero {
    position: relative;
    height: 100vh;
    background: url('/imagens/fundo-inicio.svg') no-repeat center center/cover;
    color: white;
  }
  
  .navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .logo img {
    width: 70px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    text-transform: uppercase;
  }
  
  .user-icon img {
    width: 40px;
    height: 40px;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .hero-content h2 {
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2;
  }
  
  .hero-content h2 span {
    font-size: 60px;
    font-weight: bold;
  }
  
  .hero-content p {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 2px;
  }

  #news {
    width: 100%;
    padding: 40px 0;
    background-color: #111;
    text-align: center;
    height: 500px;
}

#news h2 {
    font-family: 'sua fonte de título'; /* ajuste a fonte */
    font-size: 2rem;
    color: black;
    background-color: #fff7dc;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.news-swiper {
    width: 85%;
    height: 80%;
    max-width: 1500px;
    overflow: visible;
    position: relative;
    margin-top: 5vh;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    height: 240px ;
    background: white;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.img-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-news h1 {
    font-size: 35px;
    color: black;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 100;
}



.desc-news p {
    font-size: 15px;
    color: #333;
    text-align: left;
}

.data-news p {
    font-size: 0.8rem;
    color: gray;
    text-align: left;
    margin-top: 10px;
}


.banner-news h1 {
  color: #fcfbf5 ;
  font-family: 'Bebas-Neue',; 
  font-size: 35px;
  letter-spacing: 2px;
  padding: 10px 20px;
  display: inline-block;
  width: 50vh;
  margin-top: 1vh;
  margin-bottom: 4vh;
  position: relative; 
}

.banner-news h1::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-80%); /* Centraliza a linha */
  bottom: 0.5px;               /* Coloca a linha abaixo do texto */
  width: 40%;                  /* Largura da linha dourada */
  height: 4px;
  background-color: #847248;   /* Dourado bonito */
}



/* Posicionamento das setas */
.swiper-button-prev,
.swiper-button-next {
    color: white;
    width: 30px;
    height: 30px;
    margin-top: -30px; /* centraliza verticalmente */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

/* Coloca as setas fora do carrossel */
.swiper-button-prev {
    left: -40px;
}

.swiper-button-next {
    right: -40px;
}

/* Ícone menor e branco */
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px; /* tamanho do ícone */
    color: white;
}

.banner-jogos h1 {
  color: #fffff2 ;
  letter-spacing: 2px;
  font-family: 'Bebas-Neue',; 
  font-size: 40px;
  letter-spacing: 2px;
  padding: 10px 20px;
  display: inline-block;
  width: 50vh;
  margin-top: 1vh;
  margin-bottom: 4vh;
  text-align: center;
  position: relative; 
}

.banner-jogos h1::after {
  content: '';
  position: absolute;
  left: 46%;
  transform: translateX(-60%); /* Centraliza a linha */
  bottom: 0.5px;               /* Coloca a linha abaixo do texto */
  width: 15%;                  /* Largura da linha dourada */
  height: 4px;
  background-color: #847248;   /* Dourado bonito */
}

.jogos {
  height: 400px;
  width: 100%;
  background: #131313;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg,rgba(19, 19, 19, 1) 4%, rgba(255, 255, 246, 1) 79%);
}

.dados {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-jogo {
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.escudos-times {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
}

.time1 , .time2 {
width: 40%;
}

.vs {
  width: 20%;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dataHora {
  margin-top: 3vh;
}

.linha {
  height: 3px;
  background-color: #131313;
}

.votacao {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffff6 ;
}

.button-craque button{
  height: 10vh;
  width: 60vh;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #fffff6 ;
  background-color: #131313;
  border: none; 
  transition: transform 0.3s ease; /* suaviza a transformação */
}

.button-craque button:hover {
  transform: scale(1.20); /* aumenta 5% no hover */
  color: #131313;
  background-color: #847248;
}